<h1> Hello </h1>
<div class="container">
    <h1>Lets get back to the work</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>EmpID</th>
                <th>Paragraph</th>
            </tr>
        </thead>
        <tbody id="tblbody"></tbody>
    </table>
<body{{ attributes.addClass('my-class') }}>
</body>
</div>